.header-div{
    display: flex;
    justify-content: space-between;
    height: 69px;
    width: 100%;
    align-items: center;
}
.nav-item{
    width: 281px;

}
.ul-item{
    display: flex;
    justify-content: space-between;
}
.action{
    width: 100px;
    height: 48px;
    border-radius: 32px;   
    background-color: black;
    color: #fff;
    display: flex;;
    justify-content: center;
    align-items: center;
}
.sofa{
    background-image: url("../img/sofa.jpg");
    width: 490px;
    height: 482px;
    background-repeat: no-repeat;
}
.top-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 556px;
    
}
.wraper{
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 44px;
}
.people{
    width:236px;
    margin-left: 20px;
}
.text-side{
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-side h2{
    margin-bottom: 24px;
}
/* .text-side p{
    padding-bottom: 40px;
} */

/* Grey section */
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}
.satauri{
    display: flex;
    align-items: center;
}
.container{
    width: 360px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div2{
    height: 256px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
}

/* BLACK SECTION */
.black{
    width: 100%;
    height: 620px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.taro{
    background-image: url("../img/taro.jpg");
    width: 503.5px;
    height: 428px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
}
.text-div{
    color: #fff;
    width: 503.5px;
    height: 264px;
}
.text-div h3{
    margin-bottom: 16px;
}
.alltext{
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}